*{
    /*Resetando espaçamento da página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E6ECF0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
}

input, button{
    outline: 0;
}

img{
    width: 30px;
}

/*
 0,25 -> 1
 x -> 30
 
 1 -> 0,25
 30 -> x
*/

.content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header{
    height: 46px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header#main-header div.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul{
    display: flex;
    list-style: none;

    /* gap: 30px; */
}

header#main-header nav ul li{
    font-size: 13px;
    font-weight: bold;
    color: #667580;

    display: flex;
    align-items: center;

    margin-left: 30px;

    /* gap: 7px; */
}

header#main-header nav ul li:first-child{
    margin: 0;
}

header#main-header nav ul li img{
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
    /* gap: 15px; */
}

header#main-header div.side input{
    width: 220px;
    border: solid 1px #E6ECF3;
    height: 34px;
    padding: 0 30px 0 12px;
    border-radius: 16px;
    color: #667581;
    font-size: 12px;
    background: #f5f8fa url("./images/search.png") no-repeat 190px center;

}

header#main-header div.side img{
    height: 34px;
    width: 34px;

    margin: 0 15px;

    border-radius: 50%;
}

header#main-header div.side button{
    height: 34px;
    background: #3db9e3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;

    border: none;
    border-radius: 16px;
}

