*{
  /*Resetando espaçamento da página */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;  
}

input, button{
  outline: 0;
}

img{
  width: 30px;
}

.content{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

/**************** Header */

header#main-header{
  height: 46px;
  background: #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header div.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul{
  display: flex;
  list-style: none;

  /* gap: 30px; */
}

header#main-header nav ul li{
  font-size: 13px;
  font-weight: bold;
  color: #667580;

  display: flex;
  align-items: center;

  margin-left: 30px;

  /* gap: 7px; */
}

header#main-header nav ul li:first-child{
  margin: 0;
}

header#main-header nav ul li img{
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
  /* gap: 15px; */
}

header#main-header div.side input{
  width: 220px;
  border: solid 1px #E6ECF3;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa url("./images/search.png") no-repeat 190px center;

}

header#main-header div.side img{
  height: 34px;
  width: 34px;

  margin: 0 15px;

  border-radius: 50%;
  object-fit: cover;
}

header#main-header div.side button{
  height: 34px;
  background: #3db9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;

  border: none;
  border-radius: 16px;
}

/************** Banner */

div.banner{
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF;
  font-weight: bold;
}

/**************** Status Bar */

div.bar{
  height: 59px;
  background: #FFF;
  box-shadow: 0 1px 3px rbga(0, 0, 0, 0.25);
}

div.bar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 285px;
  height: 100%;
}

div.bar ul{
  display: flex;
  list-style: none;

  height: 100%;
}

div.bar .content ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  position: relative;

}

div.bar .content ul li.active::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3bb9e3;

}

div.bar .content ul li span{
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong{
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong{
  color: #3bb9e3;
}

div.bar .content .actions{
  display: flex;
}

div.bar .content .actions button{
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  background: transparent;

  border: 1px solid #3bb9e3;
  border-radius: 16px;

  margin-right: 20px;
}

/*************** Content area */

div.wrapper-content{
  display: flex;
}

div.wrapper-content aside.profile{
  width: 260px;
}

div.wrapper-content aside.profile img.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FFF;
  margin-top: -130px;

  object-fit: cover;
}

div.wrapper-content aside.profile h1{
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span{
  font-size: 14px;
  color: #53626c;  
}

div.wrapper-content aside.profile p{
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;

}

div.wrapper-content aside.profile ul{
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile ul.list li{
  font-size: 14px;
  color: #657786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul li:first-child{
  margin-top: 0;
}

div.wrapper-content aside.profile ul.list li img{
  width: 1.2rem;
  height: 1.2rem;

  margin-right: 10px;
}

div.wrapper-content aside.profile .widget{
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong{
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget img{
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li{
  width: 45px;
  height: 45px;
  background: #D0D5D9;
  border-radius: 50%;
  /* flex-shrink: 0;
  flex-grow: 1; */
  flex: 1 0 auto;
  margin: 0 5px 10px 0;
}

div.wrapper-content aside.profile .images ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .images ul li{
  width: 80px;
  height: 80px;
  background: #D0D5D9;
  border-radius: 8px;
  /* flex-shrink: 0;
  flex-grow: 1; */
  flex: 1 0 auto;
  margin: 0 5px 5px 0;
}



